html, body {
    margin: 0;
    padding: 0;
}

.top-part {
    padding: 10px;
    background-color: #1F2937;
}

.full_header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px;
}

.header {
    color: white;
    padding: 10px;
    font-size: 14px;
}

.header_links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
}

.header_links li {
    float: right;
    margin-left: 20px; 
}

.header_links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.main_content {
    background-color: #1F2937;
    display: flex;
    height: 290px;
}

.left_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
}

.top_header {
    flex: 1;
    color: white;
    font-size: 24px;
    margin-bottom: -63px;
    padding: 10px;
}

.top_text {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    font-size: 18px;
    padding: 10px;
    align-items: left;
}

.placeholder {
    flex: 1;
    padding: 40px;
    color: white;
    background-color: grey;
    border: 2px solid white;
    margin: 30px;
    max-width: 25%;
}

.signup_button button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 13px;
    justify-content: left;
}

.second-part {
    background-color: white;
    padding: 10px;
}

.info-header {
    text-align: center;
}

.boxes {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.box-one,
.box-two,
.box-three,
.box-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.first-box,
.second-box,
.third-box,
.fourth-box {
    border: 2px solid #3882F6;
    border-radius: 15px;
    background-color: white;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    flex-grow: 1;
}

.first-box-text,
.second-box-text,
.third-box-text,
.fourth-box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.third-part {
    padding: 10px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    text-align: center;
    font-style: italic;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.quote-name {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding-bottom: 50px;
    padding-right: 50px;
    margin-top: -20px;
}

.fourth-part {
    margin: 100px;
    background-color: #3882F6;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 175px;
    padding-right: 175px;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 15px;
}

.cta-header {
    font-weight: bold;
}

.cta-container {
    display: flex;
    align-items: center;
}

.cta-body {
    margin-right: 75px;
}

.cta-button button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 13px;
}

.copyright {
    background-color: #1F2937;
    color: white;
    text-align: center;
    height: 40px;
    padding: 16px;
}